{% extends "/Public/base.html" %}
	{% block link %}
		<link rel="stylesheet" type="text/css" href="../../../static/Home/header_footer.css">
		<link rel="stylesheet" type="text/css" href="../../../static/Home/news_detail.css">
	{% endblock %}
	{% block title %}<title>华中科技大学社团网__新闻</title>{% endblock %}
	{% block content %}
		<div id="news_container"><div id="news_detail">
			<div>
				<div class="title"><span>{{news.title}}</span><span>{{news.post_time|time}}</span></div>
				<div class="container"></div>
				<div class="hide" style="display: none">{{news.detail}}</div>
			</div>	
		</div></div>
	{% endblock %}
	{% block script %}
		<script src="../../../static/Home/news_detail.js"></script>	
	{% endblock %}
