{% extends "/Public/base.html" %}
	{% block link %}
		<link rel="stylesheet" type="text/css" href="../../../static/Home/index_mobile.css">
		<link rel="stylesheet" type="text/css" href="../../../static/Home/news.css">
	{% endblock %}
	{% block title %}<title>华中科技大学社团网__新闻</title>{% endblock %}

	{% block content %}
		<div id="search_">
			<div class="search_option">
				<ul name="Category">
					<caption>类型：</caption>
					<li class="on" name="all">全部</li>
					<li name="news">新闻</li>
					<li name="notice">通知</li>
					<li name="preview">预告</li>
				</ul>
				<ul name="Time">
					<caption>时间：</caption>
					<li class="on" name="all">全部</li>
					<li name="week">一周</li>
					<li name="month">三月</li>
					<li name="year">一年</li>
				</ul>
				<ul name="Sort">
					<caption>排序：</caption>
					<li class="on" name="all">综合</li>
					<li name="hot">热门</li>
					<li name="latest">最新</li>
					<li name="oldest">最旧</li>
				</ul>
			</div>
		</div>



		<div id="news_">
			<div id="load">Loading...</div>
			<div id="main">
				<div class="news_2">
					<div class="goto">
						<span><a>上一页</a></span>
						<span><input type="number" value="1">/<input type="number" value="1" disabled=""><a >跳转</a></span>
						<span><a>下一页</a></span>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block script %}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../../static/Home/news.js"></script>
	{% endblock %}
</html>