{% extends "form_base.html" %}

{% block form %}

	<form id="form1" class="form-horizontal" role="form" action="{{url_for('material.submit')}}" method="POST" enctype="multipart/form-data">

	  <div class="form-group">
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="association" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">协会名称</label>
		</div>
		<div class="col-xs-4 col-lg-5">
		  <input type="text" class="form-control" id="association" name="association" value="{{data.association}}"placeholder="请输入协会名称">
		</div>
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="activity" class="col-xs-11 col-xs-offset-1 control-label">活动名称</label>
		</div>
		<div class="col-xs-4 col-lg-5">
		  <input type="text" class="form-control" id="activity" name="activity" value="{{data.activity}}"placeholder="请输入活动名称">
		</div>
	  </div>

	  <div class="form-group">
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="site" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">活动地点</label>
		</div>
		<div class="col-xs-4 col-lg-5">
		  <input type="text" class="form-control" id="site" name="site" value="{{data.site}}"placeholder="请输入活动地点">
		</div>
		<div class="col-xs-2 col-lg-1 nopadding">
			<label class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">借用日期</label>
		</div>
		<div class="col-xs-4 col-lg-5">
			<div class="col-xs-2 col-sm-3">
				<select class="form-control" id="year1" name="year1">
					<option selected="selected"></option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
				</select>
			</div>
			<div class="col-xs-1 col-txt-1"><p>年</p></div>
			<div class="col-xs-2 col-sm-3">
				<select class="form-control" id="month1" name="month1" onchange="adddate1()">
					<option selected="selected"></option>
				</select>
			</div>
			<div class="col-xs-1 col-txt-1"><p>月</p></div>
			<div class="col-xs-2 col-sm-3">
				<select class="form-control" id="date1" name="date1">
					<option selected="selected"></option>
				</select>
			</div>
			<div class="col-xs-1 col-txt-1"><p>日</p></div>
		</div>
	  </div>

	  <div class="form-group">
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="resp_person" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">负&nbsp;责&nbsp;人</label>
		</div>
		<div class="col-xs-4 col-lg-5">
		  <input type="text" class="form-control" id="resp_person" name="resp_person" value="{{data.resp_person}}"placeholder="请输入负责人">
		</div>
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="tel" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">联系电话</label>
		</div>
		<div class="col-xs-4 col-lg-5">
		  <input type="text" class="form-control" id="tel" name="tel" value="{{data.tel}}"placeholder="请输入联系电话">
		</div>
	  </div>

	  <div class="form-group">
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="material_type" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">物资类型</label>
		</div>
		<div class="col-xs-8 col-lg-9" style="padding-left:0;">
			<div class="col-xs-3 col-lg-4" style="padding:0;">
			  <select class="form-control" id="material_type" name="material_type" onchange="allToZero();mtype()">
				<option value='1' selected="selected">校车</option>
				<option value='2'>大量桌椅</option>
				<option value='3'>电力</option>
				<option value='4'>投影仪</option>
			  </select>
			</div>
			<label for="material_type" class="col-sm-6 control-label" style="text-align:left;">&nbsp;注：每张申请表只能借用一种物资</label>
		</div>
	  </div>

	  <!--material_type取1-->
	  <div id="change-type">
	  <div id="i1">
		  <div class="form-group">
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="trans_desk_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">运送桌子数量</label>
			</div>
			<div class="col-xs-4 col-lg-5">
				<input type="text" class="form-control" id="trans_desk_num" name="trans_desk_num" value="{{data.trans_desk_num}}"placeholder="请输入运送桌子数量">
			</div>
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="trans_chair_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">运送椅子数量</label>
			</div>
			<div class="col-xs-4 col-lg-5">
				<input type="text" class="form-control" id="trans_chair_num" name="trans_chair_num" value="{{data.trans_chair_num}}"placeholder="请输入运送椅子数量">
			</div>
		  </div>
	  </div>
	  <!--material_type取1-->

	  <!--material_type取2-->
	  <div id="i2" style="display:none;">
		   <div class="form-group">
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="desk_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">桌子数量</label>
			</div>
			<div class="col-xs-4 col-lg-5">
			  <input type="text" class="form-control" id="desk_num" name="desk_num" value="{{data.desk_num}}"placeholder="请输入桌子数量">
			</div>
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="chair_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">椅子数量</label>
			</div>
			<div class="col-xs-4 col-lg-5">
			  <input type="text" class="form-control" id="chair_num" name="chair_num" value="{{data.chair_num}}"placeholder="请输入椅子数量">
			</div>
		  </div>
		  <div class="form-group">
			<div class="col-xs-2 col-lg-1 nopadding">
				<label class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">归还日期</label>
			</div>
				<div class="col-xs-4 col-lg-5">
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="year2" name="year2">
							<option selected="selected"></option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
						</select>
					</div>
					<div class="col-xs-1"><p>年</p></div>
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="month2" name="month2" onchange="adddate2()">
							<option selected="selected"></option>
						</select>
					</div>
					<div class="col-xs-1"><p>月</p></div>
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="date2" name="date2">
							<option selected="selected"></option>
						</select>
					</div>
					<div class="col-xs-1 col-txt-1"><p>日</p></div>
			</div>
		  </div>
	  </div>
	  <!--material_type取2-->

	  <!--material_type取3-->
	  <div id="i3" style="display:none;">
		  <div class="form-group">
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="electricity_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">瓦&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</label>
			</div>
			<div class="col-xs-4 col-lg-5">
				<input type="text" class="form-control" id="electricity_num" name="electricity_num" value="{{data.electricity_num}}"placeholder="请输入瓦数">
			</div>
			<label for="trans_chair_num" class="col-sm-4 control-label" style="text-align:left;"> 注：若瓦数超过2000w须到主校区配电房签字</label>
		  </div>
	  </div>
	  <!--material_type取3-->

	  <!--material_type取4-->
	  <div id="i4" style="display:none;">
		  <div class="form-group">
			<div class="col-xs-2 col-lg-1 nopadding">
				<label for="projector_num" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</label>
			</div>
			<div class="col-xs-4 col-lg-5">
				<input type="text" class="form-control" id="projector_num" name="projector_num" value="{{data.projector_num}}"placeholder="请输入台数">
			</div>
			<div class="col-xs-2 col-lg-1 nopadding">
				<label class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">归还日期</label>
			</div>
				<div class="col-xs-4 col-lg-5">
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="year3" name="year3">
							<option selected="selected"></option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
						</select>
					</div>
					<div class="col-xs-1 col-txt-1"><p>年</p></div>
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="month3" name="month3" onchange="adddate3()">
							<option selected="selected"></option>
						</select>
					</div>
					<div class="col-xs-1 col-txt-1"><p>月</p></div>
					<div class="col-xs-2 col-sm-3">
						<select class="col-sm-3 form-control" id="date3" name="date3">
							<option selected="selected"></option>
						</select>
					</div>
					<div class="col-xs-1 col-txt-1"><p>日</p></div>
			</div>
		  </div>
	  </div>
	</div>
	  <!--material_type取4-->



	  <!---->
	  <div class="form-group">
		<div class="col-xs-2 col-lg-1 nopadding">
			<label for="association" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">社团意见</label>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-5 col-sm-offset-1" style="margin-left:2.5%;width:47.5%;">
			<textarea class="form-control" id="opinion" name="opinion" rows="4">{{data.opinion}}</textarea>
		</div>
	  </div>

	  <div class="form-group" style="padding-right:15px;">
		<div class="col-xs-2 col-lg-1 nopadding">
				<label for="statement" class="col-xs-12 col-lg-11 col-lg-offset-1 control-label">策划提交</label>
		</div>
		<div class="col-xs-7 col-lg-10" style="padding-left:0;">
			<input type="text" class="form-control validFileType" id="statement" readonly="readonly">
		</div>
		<div class="col-sm-1">
			<div class="col-sm-10">
				<input type="file" name="file" class="btn btn-success btn-xs" id="state_choose" style="background-color:#ffffff;color:#000000;border:0;width:1px;" onchange="ale()"></input>
			</div>
			<label for="state_choose">
				<div class="btn btn-success col-sm-12" style="position:absolute;left:0%;border-radius:0;border:0;">
				<p style="margin:0;height:19px;line-height:80%;">选&nbsp;&nbsp;&nbsp;择</p>
				</div>
			</label>
		</div>
	  </div><!--以label套div定位后覆盖input #state_choose-->
	  
	  <div id="alert" class="alert alert-danger" role="alert"><p></p></div>
	  
	  <input type="hidden" name="type" value="material"/>

	  <input type="submit" value="提&nbsp;&nbsp;&nbsp;&nbsp;交" class="btn btn-success btn-md submit" style="width:20.7%;border-radius:25px;border-color:#0bc7b4;background-color:#0bc7b4;font-size:20px;box-shadow:0 15px 15px #a7ebe4;"></input>

	</form>
<script>
function allToZero(){
	$("#change-type").find("input").val("");
}
function mtype(){
	for (j=1;j<5;j=j+1)
	{
		document.getElementById("i"+j).style.display="none";
	}
	var mat= document.getElementById("material_type");
	var val= mat.options[mat.selectedIndex].value;
	document.getElementById("i"+val).style.display="block";
}

addmonth2();
addmonth3();
if ("{{data.association}}" != ""){
	if("{{data.chair_num}}"!="0" || "{{data.desk_num}}"!="0"){
		$("#material_type").val("2");
		var date = "{{data.chair_date}}";
		$("#year2").val(date.slice(0,4));
		$("#month2").val(date.slice(5,7));
		adddate2();
		$("#date2").val(date.slice(8,10));
	}
	else if ("{{data.electricity_num}}"!="0")$("#material_type").val("3");
	else if ("{{data.projector_num}}"!="0"){
		$("#material_type").val("4");
		var date = "{{data.projector_date}}";
		$("#year3").val(date.slice(0,4));
		$("#month3").val(date.slice(5,7));
		adddate3();
		$("#date3").val(date.slice(8,10));
	}
	else $("#material_type").val("1");
	mtype();
}

</script>
{% endblock %}