#news_container{
	height:100%;
	margin:15px 150px;
	text-align: center;
	padding: 0 0;
}
#news_detail{
	background: #fff;
	margin:0 0;
	padding: 15px 15px;
	box-shadow: 2px 2px 2px #dcdcdc;
}

@media screen and (max-width: 900px){
#news_container{
	height:100%;
	margin:10px 15px;
	text-align: center;
	padding: 0 0;
}
#news_detail{
	background: #fff;
	margin:0 0;
	padding: 10px 10px;
}
}