<div class="users uk-container uk-container-center uk-padding-remove">
    <div v-if="view[1] === undefined">
        <div class="menu-block uk-container uk-container-center">
            <h1 class="menu-subtitle">修改用户</h1>
            <ul class="menu-items">
                <li class="menu-items-item" v-if="state.edittingUsers === false" v-on:click="state.edittingUsers = true">
                    修改用户
                </li>
                <li class="menu-items-item uk-text-danger" v-if="state.edittingUsers" v-on:click="commitUsers()">
                    完成修改
                </li>
                <li class="menu-items-item" v-on:click="createUser()" v-if="state.edittingUsers">
                    添加新用户
                </li>
            </ul>
        </div>
        <div v-show="view[1] === undefined">
            <div class="menu-block uk-container uk-container-center">
                <h1 class="menu-subtitle">所有用户</h1>
                <ul class="menu-items">
                    <li class="menu-items-item uk-flex uk-flex-middle uk-flex-space-between" v-for="i of users">
                        <div v-if="!state.edittingUsers">
                            <h1 class="uk-h2">{{ i.userName }} <span class="uk-text-danger" v-if="!i.status">被禁用</span></h1>
                            <div>
                                <span class="badge" v-for="j of i.roles">
                                    {{ j.roleName }}
                                </span>
                            </div>
                            <p><a href="mailto: {{i.email}}">{{ i.email }}</a></p>
                            <p v-show="'loginTime' in i">最近登录 {{ new Date(i.loginTime*1000) }} 在 {{ i.loginIp }}</p>
                            <p v-show="'email' in i">邮箱 {{ i.email }}</p>
                            <p v-show="'phone' in i">电话 {{ i.phone }}</p>
                        </div>
                        <div v-else>
                            <input type="text" class="uk-h2 uk-width-1-1" v-model="i.userName" placeholder="用户名" v-on:change="markDirtyUser(i)"/>
                            <div>
                                <a class="badge" v-for="j of i.roles" v-on:click="removeRoleOfUser(i, j)" style="color: white;">
                                    {{ j.roleName }} <i class="fa fa-times"></i>
                                </a>
                                <select class="badge" v-model="i._role" v-on:change="addRoleOfUser(i, i._role)">
                                    <option v-for="role of roles">{{ role.roleName }}</option>
                                </select>
                            </div>
                            <p>邮箱 <input type="text" v-model="i.email" placeholder="绑定邮箱" v-on:change="markDirtyUser(i)" class="uk-width-1-1"/></p>
                            <p>密码 <input type="text" v-model="i.passWord" placeholder="密码" v-on:change="markDirtyUser(i)" class="uk-width-1-1"/></p>
                            <p>电话 <input type="tel" v-model="i.phone" placeholder="电话号码" v-on:change="markDirtyUser(i)" class="uk-width-1-1"/></p>
                        </div>
                        <div v-show="state.edittingUsers" style="min-width: 6em;">
                            <a class="uk-margin-right" v-on:click="toggleBannedUser(i)" v-show="i.status === true">禁用</a>
                            <a class="uk-margin-right" v-on:click="toggleBannedUser(i)" v-else>解封</a>
                            <a class="uk-text-danger" v-on:click="markDeletedUser(i)">删除</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div v-if="view[1] === 'roles'">
        <div class="menu-block uk-container uk-container-center">
                <h1 class="menu-subtitle">所有角色</h1>
                <ul class="menu-items">
                    <li class="menu-items-item uk-flex uk-flex-middle uk-flex-space-between" v-for="i of roles" v-on:blur="debug('hi')">
                        <div>
                            <div>
                                <div style="flex-grow: 1;">
                                    <span class="uk-text-danger uk-h3" v-if="!i.status">被禁用</span>
                                    <input class="uk-h3 uk-width-1-1" type="text" v-model="i.roleName" placeholder="角色名称" v-on:blur="changeRoleNameOfRole(i)"/>
                                </div>
                                <a class="badge" v-for="j of i.nodes" v-on:click="removeNodeOfRole(i, j)" style="color: white;">
                                    {{ j.nodeName }} <i class="fa fa-times"></i>
                                </a>
                                <select class="badge" v-model="i._node" v-on:change="addNodeOfRole(i, i._node)">
                                    <option v-for="node of nodes">{{ node.nodeName }}</option>
                                </select>
                            </div>
                        </div>
                        <div style="min-width: 6em;">
                            <a class="uk-margin-right" v-on:click="toggleBannedRole(i)" v-show="i.status === true">禁用</a>
                            <a class="uk-margin-right" v-on:click="toggleBannedRole(i)" v-else>解封</a>
                            <a class="uk-text-danger" v-on:click="deleteRole(i)">删除</a>
                        </div>
                    </li>
                    <li class="menu-items-item" v-on:click="createRole()">
                        新角色
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div v-if="view[1] === 'nodes'">
        <div class="menu-block uk-container uk-container-center">
            <h1 class="menu-subtitle">所有节点</h1>
            <ul class="menu-items">
                <li class="menu-items-item uk-flex uk-flex-middle uk-flex-space-between" v-for="i of nodes">
                    <span class="uk-text-danger uk-h3" v-if="!i.status">被禁用</span>
                    <input class="uk-h3 uk-width-1-1" type="text" v-model="i.nodeName" placeholder="节点名称" v-on:blur="changeNodeNameOfNode(i)"/>
                    <input class="badge" style="background-color: #4CAF50; width: 3em;" type="number" v-model="i.level" v-on:change="changeLevelOfNode(i)" placeholder="级别" denounce="500"/>
                    <div style="flex-shrink: 0;">
                        <a class="uk-margin-left uk-margin-right" v-on:click="toggleBannedNode(i)" v-show="i.status === true">禁用</a>
                        <a class="uk-margin-right" v-on:click="toggleBannedNode(i)" v-else>解封</a>
                        <a class="uk-text-danger" v-on:click="deleteNode(i)">删除</a>
                    </div>
                </li>
                <li class="menu-items-item" v-on:click="createNode()">
                    新节点
                </li>
            </ul>
        </div>

        </div>
    </div>
</div>
<script>
    
</script>