<html>	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../../static/Home/index_pc.css" media="only screen and (min-device-width:1366px)">
		<link rel="stylesheet" type="text/css" href="../../static/Home/index_mobile.css" media="only screen and (max-device-width:1365px)">
		<title>华中科技大学社团网</title>
	</head>
	<body>
		<div id="top_menu">
			<img src="" alt="" class="logo">
			<ul id="top_menu_menu">
				<a href=""><li id="on">首&nbsp;页</li></a>
				<a href=""><li>新&nbsp;闻</li></a>
				<a href=""><li>社&nbsp;团</li></a>
				<a href=""><li>社&nbsp;联</li></a>
				<a href=""><li>管&nbsp;理</li></a>
				<a href=""><li>其&nbsp;他</li></a>
			</ul>
			<div class="menu" onclick="_menu()">
				<div class="icon"></div>
				<div class="icon"></div>
				<div class="icon"></div>
			</div>
			<a href=""><button>登&nbsp;&nbsp;&nbsp;&nbsp;录</button></a>

			
		</div>


		<div id="hot_news">
			<div class="left">
				<div class="picture">
					<a href=""><img src="" id="show_"></a>
					<div class="background"></div>
					<div class="title" id="picture_title"></div>	
				</div>
				<div class="preview">
					<div class="preview_1"><a href="#"><img class="news" id="" onclick="_getimg(this)" src="1" alt="1"></a></div>
					<div class="preview_2"><a href="#"><img class="news" id="" onclick="_getimg(this)" src="2" alt="2"></a></div>
					<div class="preview_3"><a href="#"><img class="news" id="" onclick="_getimg(this)" src="3" alt="3"></a></div>
					<div class="preview_4"><a href="#"><img class="news" id="" onclick="_getimg(this)" src="4" alt="4"></a></div>
					<div class="preview_4"><a href="#"><img class="news" id="" onclick="_getimg(this)" src="5" alt="5"></a></div>
				</div>
			</div>
			<div class="right">
				<img src="../../static/Home/mlst.png" class="title">
				<div class="mlimg"><img src="" class="img"></div>
				<div class="content">
					<div class="content_1"><i>社团名</i></div>
					<div class="content_2">
						<span class="content_2_1">哈哈哈哈</span>
						<span class="content_2_2">哈哈哈哈</span>
						<span class="content_2_3">哈哈哈哈</span>
					</div>
					<div class="content_3">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
				</div>
			</div>
		</div>
		
	
		<div id="star_">
			<div class="star_1">
				<div><p>社团之星</p><img src="" alt="社团之星"></div>
				<div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
				<div><p>社联之星</p><img src="" alt="社联之星"></div>
				<div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
				<div><p>指导老师</p><img src="" alt="指导老师"></div>
				<div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
			</div>
			<div class="star_2">
				<div class="star_2_1">
					<div class="title"><img src="../../static/Home/tz_logo.png" alt="">最新预告</div>
					<div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
					<a href="">更 &nbsp;&nbsp; 多</a>
				</div>
				<div class="star_2_2">
					<div class="title"><img src="../../static/Home/tz_logo.png" alt="">最新通知</div>
					<div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
					<a href="">更 &nbsp;&nbsp; 多</a>
				</div>
			</div>
		</div>
		

		<div id="news_">
			<div class="news_1">
				<div class="news_1_1">
					<div class="title">品 牌 活 动</div><div class="hr"><a href="">更 多></a></div>
					<div><img src="" alt=""></div>
					<div class="text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
				</div>
				<div class="news_1_2">
					<div class="title">魅 力 华 科</div><div class="hr"><a href="">更 多></a></div>
					<div><img src="" alt=""></div>
				</div>
			</div>
			<div class="news_2">
				<div class="title">新 闻 预 览</div>
				<div class="hr"><a href="">更 多></a></div>
				<div class="news_2_1">
					<img src="" alt="">
					<div>
						<div class="news_title">xxx</div>
						<div class="article">
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
						</div>
					</div>
					<div>
						<span class="time">2016.1.1</span>
						<span class="detail"><a href="">&nbsp;&nbsp;<img src="../../static/Home/xq.png" alt="">详情</a></span>
						<span class="comment"><a href=""><img src="../../static/Home/pl.png" alt="">评论 <span></span></a></span>
					</div>
				</div>
				<br><br><hr><br>
				<div class="news_2_2">
					<img src="" alt="">
					<div>
						<div class="news_title">xxx</div>
						<div class="article">
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
						</div>
					</div>
					<div>
						<span class="time">2016.1.1</span>
						<span class="detail"><a href="">&nbsp;&nbsp;<img src="../../static/Home/xq.png" alt="">详情</a></span>
						<span class="comment"><a href=""><img src="../../static/Home/pl.png" alt="">评论 <span></span></a></span>
					</div>
				</div>
			</div>
			<br><br><br><br>
			<div class="news_3">
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>资料下载</div>
					</div>
				</a>
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>设计委任</div>
					</div>	
				</a>
				
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>资源申请</div>
					</div>
				</a>
				
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>评分系统</div>
					</div>
				</a>
				
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>社团卡</div>
					</div>
				</a>
				
				<a href="">
					<div class="menu">
						<img src="" alt="">
						<div>菜单</div>
					</div>
				</a>
				
			</div>
		</div>
		

		<div id="bottom_menu">
			<span>友情链接</span>
			<span>
				<ul>
					<li><a href="">华中科技大学</a></li>
					<li><a href="">学工在线</a></li>
					<li><a href="">校团委</a></li>
					<li><a href="">醉晚亭</a></li>
				</ul>
			</span>
<!-- 			<span><img src="" alt=""></span>
			<span><img src="" alt=""></span> -->
		</div>

		<div id="footer_">copyright:Copyright &copy; 2008-<year></year> AU Sicun Studio. All rights reserved.</div>
	</body>

	<script src="../../static/Home/index_pc_API.js"></script>

</html>