<!DOCTYPE html>
<html>	
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<link rel="stylesheet" type="text/css" href="{{url_for('material.static',filename='css/header_footer.css')}}">
<!-- 	<link rel="stylesheet" type="text/css" href="../../../static/Home/index_mobile.css"> -->
	<link href="{{url_for('material.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('material.static',filename='css/apply.css')}}" rel="stylesheet">
	<link href="{{url_for('material.static',filename='css/sidebar.css')}}" rel="stylesheet">
	<script src="{{url_for('material.static',filename='js/jquery.js')}}"></script>
	<script src="{{url_for('material.static',filename='js/jquery.validate.min.js')}}"></script>
	<script src="{{url_for('material.static',filename='js/messages_zh.js')}}"></script>
	<script src="{{url_for('material.static',filename='js/form_validate.js')}}"></script>
	<script src="{{url_for('material.static',filename='js/material_apply.js')}}"></script><!---->
		<title>华中科技大学社团网</title>
	</head>
	<body>
		<div id="top_menu" style="height:88px">
			<img src="../../../static/Home/au_logo.png" alt="" class="logo">
			<span class="top_menu_title">
				<div>社&ensp;&ensp;&ensp;团&ensp;&ensp;&ensp;网</div>
				<div>华中科技大学学生社团联合会</div>
			</span>
			<ul id="top_menu_menu">
				<a href="/index"><li>首&nbsp;页</li></a>
				<a href="/news"><li>新&nbsp;闻</li></a>
				<a href="/developing"><li>社&nbsp;团</li></a>
				<a href="/developing"><li>社&nbsp;联</li></a>
				<a href="/Material/admin/"><li>管&nbsp;理</li></a>
				<a href="/au_card"><li id="on">社团卡</li></a>
			</ul>
			<div id="menu_bottom_line"></div>
			<div class="menu">
				<div class="icon"></div>
				<div class="icon"></div>
				<div class="icon"></div>
			</div>
			<div style="position:absolute;right:6%;top:16px;">{{current_user.userName}}</div>
			<a href="/admin/logout"><button>注&ensp;&ensp;销</button></a>
		</div>

	<div class="middle-content" style="margin:0 15px;margin-top:25px;margin-bottom:60px;">
	<div class="left">
		<div class="material">
			<div class="greenhead">物 资 借 用</div>
			<div style="height:60px;"></div>
			<a href="{{url_for('material.main',option='apply',type='material')}}"><div class="choice">物&ensp;资&ensp;借&ensp;用</div></a>
		</div>

		<div class="site">
			<div class="greenhead">场 地 借 用</div>
			<div style="height:60px;"></div>
			<a href="{{url_for('material.main',option='apply',type='colorprint')}}"><div class="choice">彩喷悬挂</div></a>
			<a href="{{url_for('material.main',option='apply',type='east4')}}"><div class="choice">东四三楼</div></a>
			<a href="{{url_for('material.main',option='apply',type='sports')}}"><div class="choice">体育场馆</div></a>
			<a href="{{url_for('material.main',option='apply',type='special')}}"><div class="choice">特殊场地</div></a>
			<!-- <a href="{{url_for('material.main',option='apply',type='teachingbuilding')}}"><div class="choice">教学楼教室</div></a> -->
			<a href="{{url_for('material.main',option='apply',type='outdoor')}}"><div class="choice">路演场地</div></a>
			<a href="{{url_for('material.main',option='apply',type='sacenter')}}"><div class="choice">大活教室</div></a>
		</div>
	</div>


	<div class="right">

		<div class="tag" style="width:90%;margin:0 5%;padding: 0 50px">
			<div class="tagarea" style="padding:0 10px;margin:0 15px">当前处于: 
				{% if apply_type=='状态查询'%}
					状态查询
				{% elif apply_type=='流程查询'%}
					申请流程
				{% else %}
					{% if apply_type == '物资借用'%}
						物资借用 /
						{% else %}
						场地借用 /
					{% endif %}
					{{apply_type}}
				{% endif %}</div>
			<a href="{{url_for('material.procedure')}}">
			<div class="tagarea" style="padding:0 10px;margin:0 15px">场地物资申请流程</div>
			</a>
			<a href="{{url_for('material.status')}}">
			<div class="tagarea" style="padding:0 10px;margin:0 15px">状态查询</div>
			</a>
		</div>

		<div class="content" style="width:96%;margin:15px 2%">
			{% block form %}
			{% endblock %}
		</div>

	</div>
	<div style="clear:both;"></div>
	</div>
					
		<div id="bottom_menu">
			<div id="friendship-link">友情链接</div>
			<div id="friendship-list">
				<ul>
					<li><a href="http://www.hust.edu.cn/">华中科技大学</a></li>
					<li><a href="http://student.hust.edu.cn/">学工在线</a></li>
					<li><a href="http://youth.hust.edu.cn">校团委</a></li>
					<li><a href="http://www.zuiwan.net/">醉晚亭</a></li>
				</ul>
			</div>
			<div id="two-dimension">
				<img src="" alt="">
			</div>
		</div>

		<div id="footer_">copyright:Copyright &copy; 2008-<year></year> AU Sicun Studio. All rights reserved.</div>
	</body>
	
	<script src="../../../static/Home/index_API.js"></script>
	<script>
		window.onload=function()
		{
			InitHeader();
		}
	</script>
	
</html>



<script type="text/javascript">
if("{{data.association}}"!="procedure" && "{{data.association}}" !="status"){
	addmonth1();
	var idInput = "<input type='hidden' name='uid' value=" + "'{{data.id}}'" + "/>" ;
	$("#form1").append($(idInput));
	var date = "{{data.date}}"
	if (date != "") {
		divFile = $("form input[type=file]").parents(".form-group");
		divFile.empty();
		notice = $("<p>如需修改策划请撤销申请并重新提交！</p>");
		notice.css("color","red");
		divFile.append(notice);
		$("#year1").val(date.slice(0,4));
		$("#month1").val(date.slice(5,7));
		adddate1();
		$("#date1").val(date.slice(8,10));
	}
	if ("{{data.association}}" != ""){
		$("#time_choose").find("input").each(function(){
			if("{{data.time}}".indexOf($(this).val())>=0){
				$(this).attr('checked','checked');
			}
		})
	}
	$("#time_choose").find("input").change(function(){
	var time="";
	$("#time_choose").find("input").each(function(){
		if($(this).is(":checked")){
			time=time+$(this).val();
		}
	})
	$("input[name=time]").val(time)
})
$("#time_choose").find("input").trigger("change");
}
</script>