	<div class="modal-dialog" align="center" style="text-align:cneter;width:66%;margin-top:100px;margin-bottom:100px">
		<div class="modal-content" style="padding-left:10px;padding-right:10px">
			<div class="modal-body" style="margin-bottom:50px">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<br>
				<h4 style="font-family:SimHei;font-size:24pt">
				华中科技大学学生社团联合会
				</h4>
				<h5 style="font-family:SimHei;font-size:18pt">{{type}}申请表</h5>				
				<br>
				{% block table %}
				{% endblock %}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
