<!--大活教师申请表-->
{% extends modal_type+"_modal.html" %}

{% block table %}

<div align="center">
	<table style="border-collapse: collapse; border: none;" border="1" width="715" cellspacing="0" cellpadding="0">
		<tbody>
			<tr style="height: 34.95pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">协会名称</span></p>
					</td>
				<td style="width: 106.35pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" width="142">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['association']}}</span></p>
					</td>
				<td style="width: 61.4pt; border: solid windowtext 1.0pt; border-left: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" width="82">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">活动名称</span></p>
					</td>
				<td style="width: 4.0cm; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" width="151">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['activity']}}</span></p>
					</td>
				<td style="width: 63.8pt; border: solid windowtext 1.0pt; border-left: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" width="85">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">参与人数</span></p>
					</td>
				<td style="width: 100.65pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 34.95pt;" colspan="2" width="134">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['number']}}</span></p>
					</td>
				</tr>
			<tr style="height: 35.1pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.1pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">活动日期</span></p>
					</td>
				<td style="width: 106.35pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.1pt;" width="142">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['date']}}</span></p>
					</td>
				<td style="width: 61.4pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.1pt;" width="82">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">活动时间</span></p>
					</td>
				<td style="width: 277.85pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.1pt;" colspan="4" width="370">
					<p style="text-align: center;" align="center"><span style="text-decoration: underline;"><span lang="EN-US" style="font-family: 宋体;">{{context['time']}}</span></span><span style="font-family: 宋体;">（上午<span lang="EN-US">/</span>下午<span lang="EN-US">/</span>晚上）</span></p>
					</td>
				</tr>
			<tr style="height: 38.85pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">普通教室</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">（无投影仪）</span></p>
					</td>
				<td style="width: 281.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: white; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" colspan="3" width="375">
					<p style="text-align: center; text-indent: 45.0pt;" align="center"><span style="text-decoration: underline;"><span lang="EN-US" style="font-size: 15.0pt; font-family: 宋体;">{{context['site1']}}</span></span><span style="font-size: 15.0pt; font-family: 宋体;">（<span lang="EN-US">302/303/304</span>）</span></p>
					</td>
				<td style="width: 99.2pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" colspan="2" rowspan="3" width="132">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">是否经系统查询</span></p>
					</td>
				<td style="width: 65.25pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: white; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" rowspan="3" width="87">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['is_query']}}</span></p>
					</td>
				</tr>
			<tr style="height: 38.85pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">普通教室</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">（有投影仪）</span></p>
					</td>
				<td style="width: 281.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: white; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.85pt;" colspan="3" width="375">
					<p style="text-align: center; text-indent: 45.0pt;" align="center"><span style="text-decoration: underline;"><span lang="EN-US" style="font-size: 15.0pt; font-family: 宋体;">{{context['site2']}}</span></span><span style="font-size: 15.0pt; font-family: 宋体;">（<span lang="EN-US">505/603/610</span>）</span></p>
					</td>
				</tr>
			<tr style="height: 38.8pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.8pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">阶梯教室</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">（有投影仪）</span></p>
					</td>
				<td style="width: 281.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: white; padding: 0cm 5.4pt 0cm 5.4pt; height: 38.8pt;" colspan="3" width="375">
					<p style="text-align: center; text-indent: 45.0pt;" align="center"><span style="text-decoration: underline;"><span lang="EN-US" style="font-size: 15.0pt; font-family: 宋体;">{{context['site3']}}</span></span><span style="font-size: 15.0pt; font-family: 宋体;">（<span lang="EN-US">305/513</span>）</span></p>
					</td>
				</tr>
			<tr style="height: 91.6pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 91.6pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">活动内容</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">（主题、</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">目的、</span></p>
					<p style="text-align: center; text-indent: 12.0pt;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">流程、</span></p>
					<p style="text-align: center; text-indent: 12.0pt;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">安全负责人）</span></p>
					</td>
				<td style="width: 445.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 91.6pt;" colspan="6" width="594">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['content']}}</span></p>
					</td>
				</tr>
			<tr style="height: 36.9pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 36.9pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">有无商业赞助</span></p>
					</td>
				<td style="width: 167.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 36.9pt;" colspan="2" width="224">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['is_sponsor']}}</span></p>
					</td>
				<td style="width: 4.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 36.9pt;" width="151">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">赞助方</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">及赞助方式（如有）</span></p>
					</td>
				<td style="width: 164.45pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 36.9pt;" colspan="3" width="219">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['sponsor']}}</span></p>
					</td>
				</tr>
			<tr style="height: 32.65pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 32.65pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">活动负责人</span></p>
					</td>
				<td style="width: 167.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 32.65pt;" colspan="2" width="224">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['resp_person']}}</span></p>
					</td>
				<td style="width: 4.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 32.65pt;" width="151">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">联系电话</span></p>
					</td>
				<td style="width: 164.45pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 32.65pt;" colspan="3" width="219">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['tel']}}</span></p>
					</td>
				</tr>
			<tr style="height: 31.7pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 31.7pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">社</span><span style="font-size: 12.0pt; font-family: 宋体;">团意见</span></p>
					</td>
				<td style="width: 167.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 31.7pt;" colspan="2" width="224">
					<p style="text-align: center;" align="center"><span lang="EN-US" style="font-family: 宋体;">{{context['opinion']}}</span></p>
					</td>
				<td style="width: 4.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 31.7pt;" width="151">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">社联意见</span></p>
					</td>
				<td style="width: 164.45pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 31.7pt;" colspan="3" width="219">&nbsp;</td>
				</tr>
			<tr style="height: 30.8pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 30.8pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">社联经手人</span></p>
					</td>
				<td style="width: 167.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 30.8pt;" colspan="2" width="224">&nbsp;</td>
				<td style="width: 4.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 30.8pt;" width="151">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">联系电话</span></p>
					</td>
				<td style="width: 164.45pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 30.8pt;" colspan="3" width="219">&nbsp;</td>
				</tr>
			<tr style="height: 65.35pt;">
				<td style="width: 90.45pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 5.4pt 0cm 5.4pt; height: 65.35pt;" width="121">
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">共青团</span></p>
					<p style="text-align: center;" align="center"><span style="font-size: 12.0pt; font-family: 宋体;">华中科技大学委员会意见</span></p>
					</td>
				<td style="width: 445.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: white; padding: 0cm 5.4pt 0cm 5.4pt; height: 65.35pt;" colspan="6" width="594">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endblock %}