<!DOCTYPE html>
<html>	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../../static/Home/header_footer.css">

		<link rel = "Shortcut Icon" href="../../static/Home/logo.png">
		{% block link %}{% endblock %}
		{% block title %}{% endblock %}
		<script>
		var _hmt = _hmt || [];
		(function() {
		    var hm = document.createElement("script");
		    hm.src = "https://hm.baidu.com/hm.js?7441c5ef1d09838105333073c529e8d2";
		    var s = document.getElementsByTagName("script")[0]; 
		    s.parentNode.insertBefore(hm, s);
			})();
		</script>

	</head>
	<body>
		<div id="top_menu">
			<img src="../../static/Home/au_logo.png" alt="" class="logo">
			<span class="top_menu_title">
				<div>社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;团&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网</div>
				<div>华中科技大学学生社团联合会</div>
			</span>
			<ul id="top_menu_menu">
				<a href="/index"><li>首&nbsp;页</li></a>
				<a href="/news"><li>新&nbsp;闻</li></a>
				<a href="/developing"><li>社&nbsp;团</li></a>
				<a href="/developing"><li>社&nbsp;联</li></a>
				<a href="/developing"><li>管&nbsp;理</li></a>
				<a href="/au_card"><li>社团卡</li></a>
			</ul>
			<div id="menu_bottom_line"></div>
			<div class="menu">
				<div class="icon"></div>
				<div class="icon"></div>
				<div class="icon"></div>
			</div>
			<a href="../../dashboard"><button>登&nbsp;&nbsp;&nbsp;&nbsp;录</button></a>
		</div>
		{% block content %}
		{% endblock %}
		<div id="bottom_menu">
			<span>友情链接</span>
			<span>
				<ul>
					<li><a href="http://www.hust.edu.cn/">华中科技大学</a></li>
					<li><a href="http://student.hust.edu.cn/">学工在线</a></li>
					<li><a href="http://youth.hust.edu.cn">校团委</a></li>
					<li><a href="http://www.zuiwan.net/">醉晚亭</a></li>
				</ul>
			</span>
			<span>
				<img src="../../static/Home/12cm.jpg" alt="">
			</span>
		</div>

		<div id="footer_">copyright:Copyright &copy; 2008-<year></year> AU Sicun Studio. All rights reserved.</div>
	</body>
	
	<script src="../../static/Home/index_API.js"></script>
	<script>
		GetCurrentPage();
		InitHeader();
	</script>
	{% block script %}{% endblock %}
</html>
