{% extends "/Public/base.html" %}
	{% block title %}
		<title>华中科技大学社团网</title>
	{% endblock %}
	{% block link %}
	<meta http-equiv="refresh" content="5;url=/">
	<style>
		#info p,#info h2{
			text-align: center;
		}
		#info a
		{
			color:#4D4ADE;
			text-decoration: underline;
		}
	</style>
	{% endblock %}
	{% block content %}
		<div id="info">
			<br><br><br><br><br>
			<h2>当前功能正在建设中...</h2>
			<h2><span></span>秒后自动跳转至首页</h2>
			<h2>跳转失败请点击<a href="/">这里</a></h2>
			<br><br><br><br><br>
		</div>
	{% endblock %}
	{% block script %}
	<script>
		time = 4 ;
		window.onload=function()
		{
			InitHeader();
		}
		document.getElementById("info").getElementsByTagName("span")[0].innerHTML=time+1;
		function delay()
		{
			document.getElementById("info").getElementsByTagName("span")[0].innerHTML=time+"";
			time--;
		}
		setInterval(delay,1000);
	</script>
	{% endblock %}
	
