{% extends "/Public/base.html" %}
{% block title %}
    <title>其他信息 - 华中科技大学社团网</title>
{% endblock %}
{% block link %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" media="screen,projection">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>社团卡商家信息</h1>
        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/zzk.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">左左客云南菜华科店
                    <i class="material-icons right">more_vert</i>
                </span>
                    <p>集贸永丰广场</p>
                    <p>15527214339 / 15524214239</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">简介
                    <i class="material-icons right">close</i>
                </span>
                    <p>这是一家内向的云南菜餐厅。
                        <br>左左客源自彝族阿细话：“左左尼哈？”意思是你吃饭了吗？我们立志于地道美味的云南菜，并努力推广云南文化。
                        <br>我们的菜单每季都会更新，菜品都出自云南地道做法，并结合武汉本地口味进行融合。鲜美的鱻羴汤锅是云南地方菜，特色的小米辣味碟无论搭配什么菜都合适，而犇犇辣中则用曲靖辣椒调制；鲜则如茉莉花煎蛋，用云南家常食用的鲜花做菜；傣味便是在酸辣的基础上贴近大众的口味，以及用云南清真回族馆的做法炮制牛羊肉。
                        <br>同时因为我们的主创团队都是年轻的大学生，喜爱民谣，餐厅里每周都会有民谣驻唱。我们的希望是，能够让广大同学有一个让三五好友小聚的地方，不是吵闹却很温馨。
                    </p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">绅宝驾校110联队<i class="material-icons right">more_vert</i></span>
                    <p>华科附中南门(东九对面)天马训练场内</p>
                    <p>13807137700 (陶教练)</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">优惠信息<i class="material-icons right">close</i></span>
                    <p>社团卡2588元享9折优惠</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="" src="../../../static/Uploads/PartnerInfo/sjy.png">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">视佳医眼镜</span>
                    <p>喻园小区商业街</p>
                    <p>027-87559222</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/angry.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">华莱士<i class="material-icons right">more_vert</i></span>
                    <p>外卖电话：17786371772</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">优惠信息<i class="material-icons right">close</i></span>
                    <p>凭社团卡可以享受每天的图片上除了全鸡和饮料的买一送一活动，全鸡由20块降至13块。</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/kshn.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">凯丝哈妮手工烘焙坊<i class="material-icons right">more_vert</i></span>
                    <p>华中科技大学西区服务中心四十三号</p>
                    <p>13871477653</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">简介<i class="material-icons right">close</i></span>
                    <p>凯丝哈妮手工烘焙坊，一家专注于无添加的烘焙坊，我们种类不多，把你想吃的告诉我们，我们都能做，我们产量不大，但是保证每天都新鲜现做，纯天然动物奶油，动物黄油，满足你好吃不胖的要求，只做健康烘焙，只给最爱的你。</p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/xgcsj.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">鲜果茶时间奶茶店<i class="material-icons right">more_vert</i></span>
                    <p>西区学生服务中心琴行对面37号门店</p>
                    <p>13628687432</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">简介和折扣信息<i class="material-icons right">close</i></span>
                    <p>鲜果茶时间是一间集果汁，果茶，奶茶等等一体温馨饮品小店，可以看书，聊天，趁网，打滚～即日起咱店和社团发起优惠活动，凭社团会员卡在本店消费一律九折哦…欢迎同学们过来玩咯！</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/xph.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">学品汇集合店<i class="material-icons right">more_vert</i></span>
                    <p>华中科技大学西区预约学生服务中心</p>
                    <p>13507110788</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">折扣信息<i class="material-icons right">close</i></span>
                    <p>凡持社团卡来店消费，可享受协议价7.5折（与其它优惠不能共享）。</p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">标榜发型<i class="material-icons right">more_vert</i></span>
                    <p>湖北省武汉市洪山区华中科技大学喻园步行街19</p>
                    <p>875590197</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">简介<i class="material-icons right">close</i></span>
                    <p>武汉标榜成立于1997年，通过与享誉全球的美国标榜国际有限公司的通力合作，全面深入地吸取了标榜教育系统的精髓，并于自身良好的基础有机的结合在一起，使标榜先进的设计理念得以充分的发挥。华科喻园店已有10年的历史了，自2006年起便受广大的学生与教职工的肯定与支持，通过喻园店标榜科班出身的强大团队的共同努力下，赢得了良好的口碑。我们注重技术，注重服务，注重每一位顾客的反馈与意见。</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/jst.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">伽斯特健身<i class="material-icons right">more_vert</i></span>
                    <p>珞喻路佳园路慧谷时空大厦四楼 华科东校门对面</p>
                    <p>18671799219</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">折扣信息<i class="material-icons right">close</i></span>
                    <p>可凭社团卡享受8折优惠</p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/lsw.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">莱斯湾烘焙</span>
                    <p>华中科技大学东校区（游泳馆）学生服务二区</p>
                    <p>15770530588</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../static/Uploads/PartnerInfo/wxwj.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">文心文具<i class="material-icons right">more_vert</i></span>
                    <p>武汉市洪山区关山华中科技大学东校区侧门</p>
                    <p>027-87794119</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">简介<i class="material-icons right">close</i></span>
                    <p>文心文具主要经营文具用品、鲜花礼品制作等相关！
                        <br>各种画材，文件夹，工艺品礼品，日常学习、办公用品，明信片，礼品包装，玩具，票据印章，抱枕，水杯，袖套围巾发饰，还有进口百乐，无印良品的文具!
                    </p>
                </div>
            </div>

            <div class="card small col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">我家厨房<i class="material-icons right">more_vert</i></span>
                    <p>东湖高新珞瑜东路2号大黄村巴黎豪庭正门口</p>
                    <p>134-1966-5663</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">优惠信息<i class="material-icons right">close</i></span>
                    <p>A
                        <br>提前一天电话预订酒席（三桌或三桌以上）点498元标准套餐每桌送纸巾、果盘；满598元标准套餐标准套餐每桌送纸巾、果盘，餐具免费；满698标准套餐送纸巾、饮料一瓶，餐具免费；满798元标准套餐每桌送纸巾、果盘、饮料一瓶，指定的白酒500ml，餐具免费；
                        <br>B
                        <br>凭社团卡卡享受贵宾折9折；
                        <br>
                        <br>（A、B二选一）
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{% endblock %}
