

body{margin:0;padding:0;background-color:#ecece9;}
div{margin:0;padding:0;border:0;font-size:20px;font-family:'Microsoft-YaHei';}
a{color:#7b7b7b;text-decoration:none;font-size:20px;font-family:'Microsoft-YaHei';}
p{margin:0 auto;}
li a{font-size:16px;}
div.header_filt p{
	cursor:pointer;
}
body{
	height: 100%;
}
select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
select::-ms-expand { display: none; }

select option{
	background: #ffffff;
	color:black;
	text-align: center;
}
#btn-logout{
	 height:30px;
	 width:55%;
	 border:0;
	 border-radius:20px;
	 margin-left:22.5%;
	 box-shadow:3px 2px 5px 3px #fad4d6
	}
#time-clear{
	display:none;
	position:absolute;
	right:5%;
	top:-1.5;
	color:#ffffff;
	font-size:24px;
	cursor:pointer
}
#result,#pre_verify,#advice{
	width:100%;
	border: 1.5px solid;
	margin-bottom: 5px;
}	
#modal-approve{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Microsoft-YaHei';
}
.dropdown-menu{
	min-width: 0;
	text-align: center;
}
.header{
	width:100%;
	height:85px;
	border-bottom:1px solid #c7c7c4;
	background-color:#ffffff;
}
.logo_title{
	width:22%;
	height:100%;
	padding-left:90px;
	background-image:url(/static/Material/logo.jpg);
	background-repeat:no-repeat;
	background-size:70px 70px;
	background-position: 7px 7px;
	float:left;
}
.header_filt{
	width:7.5%;
	float:left;
	height: 100%;
}

.header_filt p{
	height:100%;
	text-align:center;
	line-height:85px;
	font-size:16px;
	position: relative;
}
.logout{
	width:14.5%;
	float:left;
}
.main{
	background-color:#ecece9;
	min-height: 77%;
}
.filter{
	height:75px;
	line-height:60px;
	float:left;
	overflow:visible;
}
.filter p,.filter div{
	font-size:14px;
	float:left;
}
.filter p{
	margin:0 10px 0 15px;
}
.filt-button{
	height:20px;
	width:100px;
	padding:0 0 0 20%;
	font-size:14px;
	text-align:left;
	color:#ffffff;
	background-color:#0bc7b4;
	margin:20px 0 0 0;
	border:none;
	border-radius:10px;
	box-shadow:0;
}
/**/.triangle1{
	width:0;
	height:0;
	border-width:4px 6px 0 6px;
	border-color:#ffffff #0bc7b4 #0bc7b4 #0bc7b4;
	border-style:solid;
	position:absolute;
	top:30px;
	right:3px;
}
.items{
	width:75%;
	margin:0 auto;
}
.seal{
		width:60px;
		height:60px;
		border-radius: 0 0 100px 0;
		position:absolute;
		opacity: 0.6;
		top:0;
		left:0;
		z-index:-1;
	}
.item{
	width:100%;
	height:100px;
	margin-bottom:25px;
	background-color:#ffffff;
	box-shadow:0 6px 6px #c6c6c4;
	position: relative;
}
.i1,.i2,.i3,.i4,.i5{
	height:100px;
	width:12%;
	text-align:center;
	font-size:20px;
	float:left;
}
.i1 p,.i2 p{
	height:100%;
	line-height:90px;
}
.i1 p{
	text-align:right;

}
.i3 p{
	height:30%;
	line-height:150%;
	text-align:left;
}
.i4 p,.i5 p{
	height:20%;
	line-height:150%;
	text-align:left;
}
.i1{
	position: relative;
	z-index: 1;
}
.i2{
	width:15%;
}
.i3{
	width:25%;
	font-size:16px;
}
.i4{
	width:30%;
	font-size:16px;
}
.i5{
	width:12%;
}
.button1,.button2{
	height:25px;
	width:80px;
	padding:0;
	font-size:14px;
	color:#ffffff;
	margin:0 auto;
	border:none;
	border-radius:50px;
	box-shadow:0;
	display:block;
}
.button1{
	margin-top:15px;
	background-color:#237fdd;
}
.button2{
	margin-top:10px;
	background-color:#18c14c;
	position:relative;
}
.is_print{
	position: relative;
	left: 18%;
}
/**/.triangle2{
width:0;
height:0;
border-width:4px 6px 0 6px;
border-color:#ffffff #18c14c #18c14c #18c14c;
border-style:solid;
position:absolute;
top:20px;
right:2px;
}
.download  {
border-radius: 27px;
height: 25px;
width: 110px;
color: white;
font-size: 15px;
border: none;
margin-top:8px;
}
.main-download{
border: none;
width: 90%;
border-radius: 5px;
margin-bottom: 3px;
color: white;
}
.footer{
	width:100%;
	height:60px;
	background-color:#6d6d6d;
}
.footer p{
	color:#ffffff;
	font-size:18px;
	text-align:center;
	padding:15px 0 0 0;
}
